/*
公共样式补充
 */

.cpa-justify-center {
    justify-content: center;
}

.cpa-align-center {
    align-items: center;
}

.cpa-align-end {
    align-items: flex-end;
}

.cpa-justify-between {
    justify-content: space-between;
}

.cpa-justify-around {
    justify-content: space-around;
}

.cpa-justify-start {
    justify-content: flex-start;
}

.cpa-justify-end {
    justify-content: flex-end;
}

.cpa-flex {
    display: flex;
}

.cpa-row {
    flex-direction: row;
}

.cpa-column {
    flex-direction: column;
}

.cpa-relative {
    position: relative;
}

.cpa-overflow-hidden {
    overflow: hidden;
}

.cpa-flex-1 {
    flex: 1;
}

.cpa-w-full {
    width: 100%;
}

.cpa-h-full {
    height: 100%;
}

.cpa-fixed {
    position: fixed !important;
}

.cpa-absolute {
    position: absolute;
}

.cpa-right-0 {
    right: 0;
}

.cpa-top-0 {
    top: 0;
}

.cpa-bottom-0 {
    bottom: 0;
}

.cpa-left-0 {
    left: 0;
}

.cpa-p-10 {
    padding: 10px;
}

.cpa-p-20 {
    padding: 20px;
}

.cpa-pl-10 {
    padding-left: 10px;
}

.cpa-pl-20 {
    padding-left: 20px;
}

.cpa-pl-30 {
    padding-left: 30px;
}

.cpa-pr-10 {
    padding-right: 10px;
}

.cpa-pr-20 {
    padding-right: 20px;
}

.cpa-pr-30 {
    padding-right: 30px;
}

.cpa-pr-40 {
    padding-right: 40px;
}

.cpa-pt-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cpa-pt-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cpa-py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cpa-py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cpa-px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.cpa-px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.cpa-px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.cpa-px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.cpa-pb-10 {
    padding-bottom: 10px;
}

.cpa-pb-20 {
    padding-bottom: 20px;
}

.cpa-pb-30 {
    padding-bottom: 30px;
}

.cpa-pb-40 {
    padding-bottom: 40px;
}

.cpa-my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cpa-my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cpa-my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cpa-mt-10 {
    margin-top: 10px;
}

.cpa-mt-20 {
    margin-top: 20px;
}

.cpa-mt-30 {
    margin-top: 30px;
}

.cpa-mt-40 {
    margin-top: 40px;
}

.cpa-mt-50 {
    margin-top: 50px;
}

.cpa-mt-60 {
    margin-top: 60px;
}

.cpa-mt-70 {
    margin-top: 70px;
}

.cpa-mt-80 {
    margin-top: 80px;
}

.cpa-ml-10 {
    margin-left: 10px;
}

.cpa-ml-20 {
    margin-left: 20px;
}

.cpa-ml-30 {
    margin-left: 30px;
}

.cpa-ml-40 {
    margin-left: 40px;
}

.cpa-ml-50 {
    margin-left: 50px;
}

.cpa-ml-60 {
    margin-left: 60px;
}

.cpa-mr-10 {
    margin-right: 10px;
}

.cpa-mr-20 {
    margin-right: 20px;
}

.cpa-mr-30 {
    margin-right: 30px;
}

.cpa-mr-40 {
    margin-right: 40px;
}

.cpa-mr-50 {
    margin-right: 50px;
}

.cpa-mr-60 {
    margin-right: 60px;
}

.cpa-mr-70 {
    margin-right: 70px;
}

.cpa-mr-100 {
    margin-right: 100px;
}

.cpa-mr-160 {
    margin-right: 160px;
}

.cpa-mb-10 {
    margin-bottom: 10px;
}

.cpa-mb-20 {
    margin-bottom: 20px;
}

.cpa-mb-30 {
    margin-bottom: 30px;
}

.cpa-mb-40 {
    margin-bottom: 40px;
}

.cpa-mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.cpa-mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.cpa-mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.cpa-mx-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.cpa-radius-10 {
    border-radius: 10px;
}

.cpa-radius-20 {
    border-radius: 20px;
}

.cpa-radius-40 {
    border-radius: 40px;
}

.cpa-radius-50 {
    border-radius: 50%;
}

.cpa-font-12 {
    font-size: 12px;
}

.cpa-font-14 {
    font-size: 14px;
}

.cpa-font-16 {
    font-size: 16px;
}

.cpa-font-20 {
    font-size: 20px;
}

.cpa-font-22 {
    font-size: 22px;
}

.cpa-font-24 {
    font-size: 24px;
}

.cpa-font-26 {
    font-size: 26px;
}

.cpa-font-28 {
    font-size: 28px;
}

.cpa-font-30 {
    font-size: 30px;
}

.cpa-font-32 {
    font-size: 32px;
}

.cpa-font-34 {
    font-size: 34px;
}

.cpa-font-36 {
    font-size: 36px;
}

.cpa-font-38 {
    font-size: 38px;
}

.cpa-font-40 {
    font-size: 40px;
}

.cpa-font-42 {
    font-size: 42px;
}


.cpa-font-46 {
    font-size: 46px;
}


.cpa-font-52 {
    font-size: 52px;
}

.cpa-font-62 {
    font-size: 62px;
}

.cpa-line-height-50 {
    line-height: 50px;
}

.cpa-weight-blod {
    font-weight: bold;
}

.cpa-color-white {
    color: #ffffff !important;
}

.cpa-color-info {
    color: #909399;
}

.cpa-color-link {
    color: #3c9cff;
}

.cpa-color-primary {
    color: #3c9cff;
}

.cpa-color-success {
    color: #53c21d;
}

.cpa-color-error {
    color: #f56c6c
}

.cpa-bg-success {
    background-color: #53c21d !important;
}

.cpa-bg-error {
    background-color: #f56c6c !important;
}

.cpa-bg-warning {
    background-color: #f9ae3d !important;
}

.cpa-bg-info {
    background-color: #909399 !important;
}

.cpa-bg-blue {
    background: linear-gradient(315deg, rgb(73, 143, 242) 0%, rgb(73, 101, 242) 100%);
}

.cpa-bg-white {
    background-color: #ffffff !important;
}

.cpa-wrap {
    flex-wrap: wrap;
}

.cpa-no-wrap {
    flex-wrap: nowrap;
}

.cpa-text-center {
    text-align: center;
}

.cpa-border-box {
    box-sizing: border-box;
}

.cpa-word-break-all {
    word-break: break-all;
}

.cpa-omit-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cpa-omit-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.text-line-through {
    text-decoration: line-through
}


html {
    background: #F7F8FA;
}

body {
    margin: 0;
    box-sizing: border-box;
}


.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 6px 10px 0px rgba(78, 89, 105, 0.06);
    height: 60px;
    width: max-content;
    min-width: 100%;
    line-height: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.search-input {
    display: flex;
    flex-direction: row;
    border: 1px solid #12D2AC;
    border-radius: 10px;
}
